body {
  margin: 0;
  text-align: center;
  background: url('./images/landsend.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto';
}

h1, h2, h3 {
  font-family: Roboto;
  font-weight: 400;
}

.container {
  display: block;
}

.aboutContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 100px 0 20px 0;
  text-align: center;
  align-items: center;
  width: 75vw;
}

.cardContainer {
  margin: 20px auto;
  width: 70vw;
  display: flex;
  justify-content: center;
  padding: 60px 0 20px 0;
  flex-direction: column;
}

.footer {
  color: white;
  font-size: 0.8em;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
}
